html {
    background-color: #f6f1e8;
    color: #1d2433;
}

body {
    margin: 0;
    color: #1d2433;
    font-family: "Nunito", "Avenir Next", "Segoe UI", sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    min-height: 100vh;
}
